#!/bin/bash
export selfupdate_self_public_ip={{selfupdate_public_ip_or_get_public_ip_command}}

export selfupdate_ansible_command_server_location={{selfupdate_ansible_command_server_location}}
export selfupdate_ansible_command_server_login_user={{selfupdate_ansible_command_server_login_user}}
export selfupdate_ansible_command_server_loing_private_key={{selfupdate_ansible_command_server_loing_private_key}}
export selfupdate_ansible_command_server_workspace={{selfupdate_ansible_command_server_workspace}}
export selfupdate_ansible_command_server_dynamic_host_executable_script_path={{selfupdate_ansible_command_server_dynamic_host_executable_script_path}}
export selfupdate_ansible_command_server_playbook_yml={{selfupdate_ansible_command_server_playbook_yml}}
export selfupdate_ansible_command_server_host_in_playbook_yml={{selfupdate_ansible_command_server_host_in_playbook_yml}}
export selfupdate_ansible_command_server_private_key_for_playbook_usage={{selfupdate_ansible_command_server_private_key_for_playbook_usage}}

remote_cmd="\
cd $selfupdate_ansible_command_server_workspace && \
	ANSIBLE_HOST_KEY_CHECKING=false \
	HOST=$selfupdate_ansible_command_server_host_in_playbook_yml \
	DATA=[$selfupdate_self_public_ip] \
	ansible-playbook $selfupdate_ansible_command_server_playbook_yml \
		-i $selfupdate_ansible_command_server_dynamic_host_executable_script_path \
		--private-key=$selfupdate_ansible_command_server_private_key_for_playbook_usage "

ssh_cmd="\
ssh     -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no \
        -i $selfupdate_ansible_command_server_loing_private_key \
        $selfupdate_ansible_command_server_login_user@$selfupdate_ansible_command_server_location \
        '$remote_cmd'"
#`$ssh_cmd`

ssh	-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no \
	-i $selfupdate_ansible_command_server_loing_private_key \
	$selfupdate_ansible_command_server_login_user@$selfupdate_ansible_command_server_location \
	$remote_cmd
